.profile__edit-button {
  background-image: url(../../../images/edit.svg);  
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}
