.profile__edit-button {
  background-image: url(../../../images/edit.svg);
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    background-image: url(../../../images/edit_320.png);
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 60%;
}

