.elements {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, 361px);
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  margin: auto;
  padding: 0px 0px 67px;
  max-width: 880px;
}

@media screen and (max-width: 1024px) {
    .elements {
      max-width: 600px;
    }
}

@media screen and (max-width: 450px) {
    .elements {
      margin: 0px 19px 0px;
      padding-bottom: 48px;
    }
}